* {
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 400px;
    border: 2px solid Gray;
    padding: 20px 30px;
    margin: auto;
}

.prosto {
    border: 2px solid blue;
    width: 50%;
    height: 50%;
}